<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>RequestHeader</servlet-name>
		<servlet-class>com.aalonzo.RequestHeaderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestHeader</servlet-name>
		<url-pattern>/whoami/*</url-pattern>
	</servlet-mapping>
</web-app>
